node {
    text-mode: normal;
}

node.sue {
    fill-color: orange;
}

node.blinky {
    fill-color: red;
}

node.inky {
    fill-color: cyan;
}

node.pinky {
    fill-color: pink;
}

node.pacman {
    fill-color: yellow;
}

node.frighted {
    fill-color: blue;
}

node.power_pill {
    stroke-mode: plain;
    fill-color: green;
    stroke-width: 10px;
}

node.pill {
    stroke-mode: plain;
    fill-color: violet;
    stroke-width: 10px;
}