node {
    text-mode: normal;
    stroke-mode: plain;
}

node.sue {
    fill-color: orange;
}

node.blinky {
    fill-color: red;
}

node.inky {
    fill-color: cyan;
}

node.pinky {
    fill-color: pink;
}

node.pacman {
    fill-color: yellow;
}

node.frighted {
    fill-color: blue;
}

node.power_pill {
    fill-color: green;
}

node.pill {
    fill-color: violet;
}