node {
    text-mode: normal;
    stroke-mode: plain;
    text-color: black;
    text-background-mode: plain;
    text-alignment: under;
}

node.sue {
    fill-color: orange;
}

node.blinky {
    fill-color: red;

}

node.inky {
    fill-color: cyan;
}

node.pinky {
    fill-color: pink;
}

node.pacman {
    fill-color: yellow;
}

node.frighted {
    shape: rounded-box;
}

node.power_pill {
    fill-color: green;
}

node.pill {
    fill-color: violet;
}


node.goal {
    stroke-mode: plain;
    stroke-width: 2px;
    stroke-color: green;
}

node.danger {
    stroke-mode: plain;
    stroke-width: 2px;
    stroke-color: red;
}

/*node.goal {
    stroke-mode: plain;
    stroke-size: 20;
    stroke-color: green;
}

node.danger {
    stroke-mode: plain;
    stroke-width: 20;
    stroke-color: red;
}*/